<form>
  <div class="mb-3 row">
    <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
    <div class="col-xs-3 col-sm-auto">
      <input id="table-complete-search" type="text" class="form-control" name="searchTerm" [(ngModel)]="service.searchTerm">
    </div>
    <span class="col col-form-label" *ngIf="service.loading$ | async">Loading...</span>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" sortable="name" (sort)="onSort($event)">Country
        <span class="sort-btn" *ngIf="sort.direction === 'desc' && sort.column === 'name'"><img src="/assets/up.png" ></span>
        <span class="sort-btn" *ngIf="sort.direction === 'asc' && sort.column === 'name'"><img src="/assets/down.png" ></span>
      </th>
      <th scope="col" sortable="area" (sort)="onSort($event)">Area
        <span class="sort-btn" *ngIf="sort.direction === 'desc' && sort.column === 'area'"><img src="/assets/up.png" ></span>
        <span class="sort-btn" *ngIf="sort.direction === 'asc' && sort.column === 'area'"><img src="/assets/down.png" ></span>
      </th>
      <th scope="col" sortable="population" (sort)="onSort($event)">Population
        <span class="sort-btn" *ngIf="sort.direction === 'desc' && sort.column === 'population'"><img src="/assets/up.png" ></span>
        <span class="sort-btn" *ngIf="sort.direction === 'asc' && sort.column === 'population'"><img src="/assets/down.png" ></span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let country of countries$ | async as countries; let i = index; trackBy: trackByFn" [selectable]="i" (click)="toggleSelection(country)" [class.highlight]="isCountrySelected(country)">
      <th scope="row">{{ country.name }}</th>
      <td>
        <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="me-2" style="width: 20px">
        <ngb-highlight [result]="country.name" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td><ngb-highlight [result]="country.area | number" [term]="service.searchTerm"></ngb-highlight></td>
      <td><ngb-highlight [result]="country.population | number" [term]="service.searchTerm"></ngb-highlight></td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination>

    <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>

</form>